<header>
  <h1>Dev.finenace$</h1>
</header>
<main>
  <h2>Balanço</h2>
  <h2>Entradas</h2>
  <p>R$ 5.000,00</p>

  <h3>Saídas</h3>
  <p>R$ 2.000,00</p>

  <h3>Total</h3>
  <p>R$ 3.000,00</p>

  <h2>Transações</h2>

  <table>
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Luz</td>
        <td>- R$ 500,00</td>
        <td>23/01/2022</td>
      </tr>

      <tr>
        <td>Criação de webSite</td>
        <td>R$ 5200,00</td>
        <td>28/02/2022</td>
      </tr>

      <tr>
        <td>Internet</td>
        <td>- R$ 80,00</td>
        <td>26/01/2022</td>
      </tr>
    </tbody>
  </table>
</main>
<footer>
  <p>dev.finance$</p>
</footer>

<router-outlet></router-outlet>
